<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
	<!-- CSS links -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
	
	<title>{% block title %}3RS{% endblock %}</title>
	<style>
		.body {
			
		}

        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding-right: 10px;
            background-color: crimson;
            font-size: 70%;
            font-style: normal;
            color: white;
        }

        .logo {
            float: left;
            width: 15%;
            padding-left: 7px;
            padding-bottom: 7px;
            border: 0;
        }
    </style>
</head>

<body>
	<footer class="footer">
        <p>
            <a href ="https://rpi.edu/" target="_blank">
                <img class = "logo" src="https://science.rpi.edu/sites/all/themes/rpi_zen_boot_14/Assets_2014/images/RPIlogo.png">
            </a>
            <div class = "contact" style = "text-align:right;">
                <a href = "https://rcos.io/projects/jeffreyceballos/3rs/profile">A current RCOS project</a><br>
                for Spring '18.<br>
            </div>
        </p>
    </footer>
	
	{% block content %}{% endblock %}
</body>
</html>